<!DOCTYPE html>
<html>

<head>
    <title>Registro Personas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>

    <div class="container">
        <h2> 📋 Agendar Cita Medica</h2>
        <div class="form-group">
            <label for="id">Número de identificación *</label>
            <input id="id" placeholder="Número de identificación">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre Completo *</label>
            <input id="nombre" placeholder="Nombre Completo">
        </div>
        <div class="form-group">
            <label for="correo">Correo Electronico *</label>
            <input id="correo" placeholder="Correo Electronico">
        </div>
        <div class="form-group">
            <label for="fecha_nacimiento">Fecha de Nacimiento *</label>
            <input id="fecha_nacimiento" type="date" placeholder="Fecha de Nacimiento">
        </div>
        <div class="form-group">
            <label for="fecha_cita">Fecha de Cita *</label>
            <input id="fecha_cita" type="text" placeholder="Fecha de Cita">
        </div>
        <div class="form-group">
            <label for="hora_cita">Hora de Cita *</label>
            <input id="hora_cita" type="text" placeholder="Hora de Cita">
        </div>
        <div class="form-group">
            <label for="tipo_cita">Tipo de Cita *</label>
            <select id="tipo_cita">
                <option value="">Selecciona un tipo de cita</option>
                <option value="Cardiología">Cardiología</option>
                <option value="Dermatología">Dermatología</option>
                <option value="Oftalmología">Oftalmología</option>
                <option value="Pediatría">Pediatría</option>
                <option value="Psicología">Psicología</option>
                <option value="Otros">Otros</option>
            </select>
        </div>
        <div class="form-group">
            <label for="codigo_cita">Código de Cita</label>
            <input id="codigo_cita" placeholder="Código de Cita">
        </div>
        <div class="form-group">
            <label for="motivo">Motivo de la Consulta *</label>
            <textarea id="motivo" name="motivo" required></textarea>
        </div>
        <button type="button" onclick="crear(); limpiar()">Guardar</button>
    </div>

    <!-- <div class="container">
        <h2>Datos</h2>
        <ul id="lista"></ul> -->
    <!-- </div> -->
     
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/archivo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fecha_cita.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hora_cita.js') }}"></script>
    <script src="{{ url_for('static', filename='js/limpiar.js') }}"></script>

</body>

</html>